
.carousel-indicators {
  margin: 0;
  top: 46%;
  bottom: unset;
  right: 0;
  left: 0;
  [data-bs-target] {
    border-radius: 50%;
  }
  .active{
    background-color: $primary;
    [data-bs-target] {
      width: 15px;
      height: 15px;
    }
  }
}
.carousel-item{
  flex-direction: column;
  .carousel-img,
  .carousel-caption {
    width: 100%;
  }
  
  .carousel-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .carousel-caption{
      position: relative;
      top: unset;
      left: unset;
      right: unset;
    }
  }
}
.carousel-item.active{
  display: flex;
}
.signup-btns{
  display: none;
}

//DESKTOP 
@media (min-width: 768px) {
  .carousel-item{
    height: 100vh;
    flex-direction: row;
    .carousel-img{
      width: 40%;
      height: 100% !important;
    }
    .carousel-content {
      height: 100% !important;
    }
  }
  .carousel-indicators{
    width: fit-content;
    top: unset;
    right: unset;
    bottom: 46%;
    left: 67%;
  }
  .signup-btns{
    display: block;
  }
}